doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html.no-js
  //<![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title NASA Space Apps | Dioresta
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")
    link(rel="stylesheet", href="/assets/styles/main.min.css", type="text/css")
  body

    //- Wrapper
    div.wrapper

      //- Title Screen
      div.screen.home(data-delay="5000")
        h1.title Dioresta
        h2.creators Created by<br>
          span.logos
            span.twg.ir TWG
            span.plus +
            span.darcy @darcy

      //- Alert!!!
      div.screen.alert(data-delay="4000")
        div.bg.stripes
        div.text
          h1.title Urgent Transmission!!!

      //- The LowDown 1
      div.screen.thelowdown.one(data-delay="10000")
        div.bg.stripes
        div.bubble
          div.arrow
          | <strong class="red">Attention space explorer!</strong>
          | My name is <strong class="yellow"><u>Professor Faisal Shahbaz</u></strong> and
          | I'm an <strong class="blue">Astronomer</strong> at
          | <strong class="gray">NASA</strong>'s <strong class="green">Near-Earth Object Program</strong>

          div.scientist
            img(src="/assets/images/scientist.gif")

      //- The LowDown 2
      div.screen.thelowdown.two(data-delay="12000")
        div.bg.stripes
        div.bubble
          div.arrow
          div.asteroid
            img(src="/assets/images/asteroids/1.png")
          | We've just detected a <strong class="yellow"><u>2km wide</u> asteroid</strong>
          | <strong class="red">hurtling towards earth</strong> at <strong class="red"><u>50,000 km/h</u>!!!</strong>
          | If we don't do something fast this asteroid could
          | wipe out <strong class="green"><u>all life as we know it!</u></strong>

          div.scientist
            img(src="/assets/images/scientist.gif")

      //- The LowDown 3
      div.screen.thelowdown.three(data-delay="12000")
        div.bg.stripes
        div.bubble
          div.arrow
          div.ship
            span
            img(src="/assets/images/ships/red.png")
          | Use your <strong class="blue">mining space ship</strong> to help
          | break up the asteroid into smaller pieces. <strong class="green">Break up and
          | collect enough</strong> <strong class="yellow">minerals</strong> so that the
          | asteroid can <strong class="red">burn up in our atmosphere</strong>.

          div.scientist
            img(src="/assets/images/scientist.gif")

      //- The LowDown 4
      div.screen.thelowdown.four(data-delay="10000")
        div.bg.stripes
        div.bubble
          div.arrow
          | <strong class="yellow">You better hurry</strong>, even though the asteroid is <strong class="blue">1250km</strong> away, you only have <strong class="red">90 seconds</strong> before it impacts <strong class="green">earth</strong>!

          div.scientist
            img(src="/assets/images/scientist.gif")

      //- The LowDown 5
      div.screen.thelowdown.five(data-delay="10000")
        div.bg.stripes
        div.bubble
          div.arrow
          | <strong class="green">One more thing</strong>, as a thank you for
          | <strong class="yellow">saving the planet</strong>, we'll let you <strong class="blue">keep any resources</strong> you find.

          div.scientist
            img(src="/assets/images/scientist.gif")

      //- The LowDown 6
      div.screen.thelowdown.six(data-delay="3000")
        div.bg.stripes
        div.bubble
          div.arrow
          | Now go... Hurry!!!

          div.scientist
            img(src="/assets/images/scientist.gif")

      //- Starting
      div.screen.starting.header(data-delay="3000")
        h1 You will reach the<br><strong class="red">asteroid's</strong> orbit in...

      //- Three
      div.screen.three.header(data-delay="1000")
        h1.red 3

      //- Two
      div.screen.two.header(data-delay="1000")
        h1.yellow 2

      //- One
      div.screen.one.header(data-delay="1000")
        h1.green 1

      //- GO!
      div.screen.go.header(data-delay="1000")
        h1 GO!

      //- Game
      div.screen.game(data-delay="5000")

        //- Countdown Timer
        h1.timer <strong class="countdown">90</strong> seconds

        //- Earth
        div.earth
          img(src="/assets/images/earth.png")

        //- Asteroids
        div.asteroids

          //- Asteroid
          img.asteroid(src="/assets/images/asteroids/1.png")

          - each color in ['red','blue','green','yellow']
            div.player(class=color)
              div.ship: span

        //- Notifications
        div.notifications

          - each color in ['red','blue','green','yellow']
            div.player(class=color)

        //- GUI
        div.gui

          - each color, index in {1:'red',2:'blue',3:'green',4:'yellow'}
            div.player(class=color)
              div.avatar
                img(src="/assets/images/ships/"+color+".png")
                p.number= index + ''

              div.bars
                div.bar.abundant
                  div.score
                  p Abundant
                div.bar.common
                  div.score
                  p Common
                div.bar.scarce
                  div.score
                  p Rare

      //- Safety!
      div.screen.skyline.header
        div.shootingstar
        div.city
        div.text
          h1 Congratulations!
          h2 You've saved planet Earth!

      //- The end...
      div.screen.end.header
        div.text
          h1.red Game Over!
          div.bubble
            | Unfortunately, <strong class="green">life on earth</strong> has been completely <strong class="red">wiped out</strong>.
            | At least you have all those sweet minerals. <strong class="blue">Better start rebuilding...</strong>

    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/assets/scripts/libs.js")
    script(type="text/javascript" src="/assets/scripts/main.js")
