doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html.no-js
  //<![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Darcy Clarke | User Experience Developer, Designer, Advocate &amp; Speaker | Also referred to as 'Web' or 'Front-end' Developer Extraordinaire
    meta(name="description", content="The hub of Darcy Clarke's work, tutorials, thoughts and live social feed.")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Merriweather:100,400,300,700,900|Lato:300,400,700", type="text/css")
    link(rel="stylesheet", href="assets/styles/main.min.css", type="text/css")
  body
    .wrapper

      header.header
        h1
          a(href="/", title="Home") Darcy Clarke
          span Development / Design / UX

        nav.nav

          ul.primaryNav
            li: a(href="/") Articles
            li: a(href="/") Speaking
            li: a(href="/") Work
            li: a(href="/") About
            li: a(href="/") Contact

          ul.socialNav
            li.twitter: a(href="/") Twitter
            li.github: a(href="/") Github
            li.linkedin: a(href="/") LinkedIn
            li.plus: a(href="/") Google+
            li.rss: a(href="/") RSS

      section.main.work

        section.projects

          div.project.torontostar

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/torontostar-sprite.png)")

            h2.logo.ir The Toronto Star

            p.description
              | The <strong>Toronto Star</strong> is a Canadian broadsheet daily newspaper. In 2011
              | it was Canada's newspaper, although also the one with the second-largest
              | decline in readership between 2007 and 2011 among Canada.

            p.visit
              | visit <a href="http://m.thestar.com">m.thestar.com</a>

            ul.tags
              li: a(href="#") UX
              li: a(href="#") Design
              li: a(href="#") Development
              li: a(href="#") CoffeeScript
              li: a(href="#") JavaScript
              li: a(href="#") Node.js
              li: a(href="#") Backbone.js
              li: a(href="#") Underscore.js
              li: a(href="#") Mobile
              li: a(href="#") Responsive
              li: a(href="#") Browserify

            a.view.ir(href="#") View Related Media

          div.project.cbs

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/cbs-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.dealpage

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/dealpage-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.dailychallenge

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/dailychallenge-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.ducati

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/ducati-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.flixel

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/flixel-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.foodtruckmarketing

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/foodtruckmarketing-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.rebrief

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/rebrief-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.thinkquarterly

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/thinkquarterly-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.holtrenfrew

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/holtrenfrew-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.jqueryto

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/jqueryto-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.mycitylives

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/mycitylives-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.nike

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/nike-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.redbull

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/redbull-sprite.png)")

            h2.logo.ir Rebull TV

            p.description
              | <strong>Rebull</strong>

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

          div.project.themify

            div.background
              - for(var i = 1; i < 11; ++i)
                div.card(class="card-" + i, style="background-image: url(/assets/images/work/themify-sprite.png)")

            h2.logo.ir CBS 60 Minutes

            p.description
              | <strong>60 Minutes</strong> is an American television newsmagazine program that is broadcast on the <strong>CBS</strong> television network. Working alongside <a href="http://f-i.com">Fi</a>, we created a feature-rich Web App for Chrome users.

            ul.tags
              li: a(href="#") Development
              li: a(href="#") JavaScript
              li: a(href="#") MVC
              li: a(href="#") Responsive
              li: a(href="#") Chrome Web App

            a.view.ir(href="#") View Related Media

      footer.footer
        p All original text, images and video found on this website are <strong>Copyright &copy; 2009-2014 Darcy Clarke</strong> and are licensed under a <a href="#">Creative Commons Attribution-Noncommercial-No Derivative Works 3.0 License</a>. All original code is <strong>Copyright © 2009-2014 Darcy Clarke</strong> &amp; dual licensed under the <a href="#">MIT &amp; GPL licenses</a> (except where explicitely stated otherwise).

    script(type="text/javascript" src="assets/scripts/libs.min.js")
    script(type="text/javascript" src="assets/scripts/main.min.js")

    each template, name in templates
      script(type="text/template", id="#{name}").
        #{template}
