@import 'nib'

$shipSize = 150px
$asteroidSize = $shipSize * 2
$paddingSize = 20px

@font-face
  font-family: 'minecraftia'
  src: url('../fonts/minecraftia.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'visitor'
  src: url('../fonts/visitor.ttf') format('truetype')
  font-weight: normal
  font-style: normal

*, *:before, *:after
  box-sizing: border-box;
  font-smoothing: antialiased
  text-size-adjust: 100%
  backface-visibility: hidden
  transform: translate3d(0, 0, 0)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  vertical-align: baseline
  position: relative

article, aside, details, figcaption,
figure, footer, header, hgroup,
main, nav, section, summary
  display: block

audio, canvas, video
  display: inline-block

html, body
  font-family: 'minecraftia', sans-serif
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  background: black
  display: flex
  flex-direction: column
  box-align: center

a:focus
  outline: thin dotted

a:active, a:hover
  outline: 0

.ir
  font: 0/0 a
  text-shadow: none
  color: transparent

.cf:before
.cf:after
  content: ' '
  display: table

.cf:after
  clear: both

.cf
  *zoom: 1

.wrapper, .game
  position: relative
  width: 100%
  height: 100%
  overflow: hidden

.wrapper
  background: url(../images/background.png)

.game
  background: url(../images/stars/1.png)

.asteroids
  position: absolute
  width: $asteroidSize
  height: $asteroidSize
  margin: -($asteroidSize / 2) 0 0 (-1 * ($asteroidSize / 2))
  top: 50%
  left: 50%

  .asteroid
    max-width: 100%
    position: absolute

.earth
  position: absolute
  width: ($asteroidSize / 2)
  height: ($asteroidSize / 2)
  margin: 0 0 0 (-1 * ($asteroidSize / 4))
  bottom: -($asteroidSize / 6)
  left: 50%

  img
    max-width: 100%

.player
  position: absolute
  margin: $paddingSize
  transform: translate3d(0,0,0)

.ship
  width: $shipSize
  height: $shipSize
  border-radius: 50%
  transform: translate3d(0,0,0)
  background-position: center center
  background-repeat: no-repeat

  &:before
    content: ''
    background-image: url(../images/ships/drill3.png)
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    width: 35px
    height: 35px
    display: block
    margin: 0 auto 0
    transform: rotate(-90deg) translate3d(-22px, 0, 0)

.red
  top: 0
  left: 0

  .ship
    transform: rotate(135deg)
    background-image: url(../images/ships/red.png)

.blue
  top: 0
  right: 0

  .ship
    transform: rotate(-135deg)
    background-image: url(../images/ships/blue.png)

.green
  bottom: 0
  left: 0

  .ship
    transform: rotate(45deg)
    background-image: url(../images/ships/green.png)

.yellow
  bottom: 0
  right: 0

  .ship
    transform: rotate(-45deg)
    background-image: url(../images/ships/yellow.png)

.notification
  text-transform: uppercase
  font-size: 22px
  font-weight: bold
  letter-spacing: -1px
  text-shadow: 0 -3px 0 black
  color: white
  border: 1px solid #46e6fc
  min-width: 250px
  padding: 20px 40px
  background: rgba(white, 0.05)
  box-shadow: 0 0 15px #46e6fc
  background-image: linear-gradient(bottom, #010825, #0169b0)

  .avatar, .text
    float: left
    display: block

  .avatar
    width: 75px
    height: 75px
    padding: 10px

    img
      max-width: 100%

  .text
    padding: 20px 0 0 20px

    strong
      color: yellow




