@import 'nib'

////////////////////////////////////////////////////////
// Variables
////////////////////////////////////////////////////////

$shipSize = 150px
$asteroidSize = 600px
$paddingSize = 20px

////////////////////////////////////////////////////////
// Keyframe Animations
////////////////////////////////////////////////////////

@keyframes alert
  0%
    font-size: 80px
  50%
    color: red
    font-size: 100px
  100%
    font-size: 80px

@keyframes logo
  0%
    opacity: 0
    transform: translate3d(0, -25px, 0)
  100%
    opacity: 1
    transform: translate3d(0, 0, 0)

@keyframes creators
  0%
    opacity: 0
    transform: translate3d(0, -15px, 0)
  50%
    0%
    opacity: 0
    transform: translate3d(0, -15px, 0)
  100%
    opacity: 1
    transform: translate3d(0, 0, 0)

@keyframes shootingstar
  0%
    opacity: 0
    transform: rotate(-80deg) translate3d(0, 0, 0)
  80%
    opacity: 1
    transform: rotate(15deg) translate3d(1200px, 200px, 0)
  100%
    opacity: 0
    width: 25px
    transform: rotate(15deg) translate3d(1200px, 100px, 0)

@keyframes star_pulse
  0%
    opacity: 0.15
  50%
    opacity: 0.5
  100%
    opacity: 0.15

@keyframes star_pulse_two
  0%
    opacity: 0.25
  50%
    opacity: 0
  100%
    opacity: 0.25

@keyframes shake_red
  0%
    transform: rotate(145deg) translate3d(0, 0, 0)
  25%
    transform: rotate(150deg) translate3d(-3px, -2px, 0)
  50%
    transform: rotate(140deg) translate3d(2px, -5px, 0)
  75%
    transform: rotate(150deg) translate3d(-3px, 3px, 0)
  100%
    transform: rotate(145deg) translate3d(0, 0, 0)

@keyframes shake_blue
  0%
    transform: rotate(180deg) translate3d(0, 0, 0)
  25%
    transform: rotate(175deg) translate3d(10px, 0, 0)
  50%
    transform: rotate(170deg) translate3d(5px, 0, 0)
  75%
    transform: rotate(175deg) translate3d(20px, 0, 0)
  100%
    transform: rotate(180deg) translate3d(0, 0, 0)

@keyframes shake_green
  0%
    transform: rotate(190deg) translate3d(0, 0, 0)
  25%
    transform: rotate(197deg) translate3d(5px, 0, 0)
  50%
    transform: rotate(180deg) translate3d(20px, 0, 0)
  75%
    transform: rotate(175deg) translate3d(10px, 0, 0)
  100%
    transform: rotate(190deg) translate3d(0, 0, 0)

@keyframes shake_yellow
  0%
    transform: rotate(175deg) translate3d(5px, 0, 0)
  25%
    transform: rotate(195deg) translate3d(20px, 0, 0)
  50%
    transform: rotate(180deg) translate3d(10px, 0, 0)
  75%
    transform: rotate(195deg) translate3d(5px, 0, 0)
  100%
    transform: rotate(175deg) translate3d(0, 0, 0)

@keyframes drill_pulse
  0%
    transform: rotate(-90deg) translate3d(0, 0, 0)
  50%
    transform: rotate(-90deg) translate3d(10px, 0, 0)
  100%
    transform: rotate(-90deg) translate3d(0, 0, 0)

@keyframes asteroid_shake
  0%
    transform: translate3d(0, 0, 0)
  25%
    transform: translate3d(10px, 0, 0)
  50%
    transform: translate3d(5px, 0, 0)
  75%
    transform: translate3d(20px, 0, 0)
  100%
    transform: translate3d(0, 0, 0)

////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////

@font-face
  font-family: 'minecraftia'
  src: url('../fonts/minecraftia.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'visitor'
  src: url('../fonts/visitor.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'fipps'
  src: url('../fonts/fipps.otf') format('opentype')
  font-weight: normal
  font-style: normal

////////////////////////////////////////////////////////
// Reset
////////////////////////////////////////////////////////

*, *:before, *:after
  box-sizing: border-box;
  font-smoothing: antialiased
  text-size-adjust: 100%
  backface-visibility: hidden
  transform: translate3d(0, 0, 0)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  vertical-align: baseline
  position: relative

article, aside, details, figcaption,
figure, footer, header, hgroup,
main, nav, section, summary
  display: block

audio, canvas, video
  display: inline-block

html, body
  font-family: 'minecraftia', sans-serif
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  background: black
  display: flex
  flex-direction: column
  box-align: center

u
  text-decoration: none
  border-bottom: 0.15em solid black
  padding-bottom: 0.05em

a:focus
  outline: thin dotted

a:active, a:hover
  outline: 0

.ir
  font: 0/0 a
  text-shadow: none
  color: transparent

.cf:before
.cf:after
  content: ' '
  display: table

.cf:after
  clear: both

.cf
  *zoom: 1

////////////////////////////////////////////////////////
// General Classes
////////////////////////////////////////////////////////

.show
  z-index: 9999999 !important
  display: block !important
  position: absolute !important
  opacity: 1 !important
  background: black !important

.title
  font-family: 'minecraftia'

.red
  color: red

  u
    border-color: red

.blue
  color: blue

  u
    border-color: blue

.green
  color: green

  u
    border-color: green

.yellow
  color: #ffae00

  u
    border-color: #ffae00

.gray
  @extends u
  border-color: #efefef

////////////////////////////////////////////////////////
// Alert Stripes
////////////////////////////////////////////////////////

.bg.stripes
  box-shadow: inset 0 0 50px rgba(red, 0.5)
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

  &:before
    content: ''
    top: 0
    left: 0
    position: absolute
    width: 100%
    height: 100%
    opacity: 0.3
    background: repeating-linear-gradient(45deg, rgba(red, 0.8), rgba(red, 0.8) 20px, rgba(lighten(red, 50%),0.4) 20px, rgba(lighten(red, 50%),0.4) 40px)


////////////////////////////////////////////////////////
// Speech Bubble
////////////////////////////////////////////////////////

.bubble
  display: block
  color: black
  background: white
  max-width: 90%
  padding: 20px 40px
  margin: 0 auto
  line-height: 180%
  font-size: 30px
  font-weight: bold
  letter-spacing: -1px
  border-top: 10px solid white
  border-bottom: 10px solid white
  position: relative
  box-shadow: 0 0 50px black

  &:before, &:after
    content: ''
    top: 0
    width: 10px
    height: 100%
    position: absolute
    background: white

  &:before
    left: -9px

  &:after
    right: -9px

  .arrow
    position: absolute
    bottom: -60px
    right: 280px
    display: block
    width: 0
    height: 0
    transform: rotate(180deg)
    border-left: 40px solid transparent
    border-right: 40px solid transparent
    border-bottom: 80px solid white

////////////////////////////////////////////////////////
// Ships
////////////////////////////////////////////////////////

.ship
  position: absolute
  width: $shipSize
  height: $shipSize
  border-radius: 50%
  background-position: center center
  background-repeat: no-repeat
  animation: ship_shake 1.45s infinite

  &:before
    content: ''
    background-image: url(../images/ships/drill.gif)
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    width: 50px
    height: 50px
    position: absolute
    top: 5px
    left: 50%
    margin: 0 0 0 -25px
    animation: drill_pulse 1.45s infinite
    transform: rotate(-90deg)

  span
    width: 100%
    height: 50px
    display: block
    position: absolute
    text-align: center
    top: 104px

    &:before, &:after
      content: ''
      width: 20px
      height: 100%
      margin: 0 12px
      display: inline-block
      background: url(../images/ships/flames.gif)
      background-repeat: no-repeat

.red
  border-color: red

  .ship
    top: 20px
    animation: shake_red 2s infinite
    background-image: url(../images/ships/red.png)

.blue
  border-color: blue

  .ship
    animation: shake_blue 1.45s infinite
    background-image: url(../images/ships/blue.png)

.green
  border-color: green

  .ship
    animation: shake_green 1.45s infinite
    background-image: url(../images/ships/green.png)

.yellow
  border-color: yellow

  .ship
    top: 20px
    animation: shake_yellow 1.45s infinite
    background-image: url(../images/ships/yellow.png)


////////////////////////////////////////////////////////
// Notifications
////////////////////////////////////////////////////////

.notifications
  z-index: 9999

  .notification
    opacity: 0
    position: absolute
    display: inline-block
    text-transform: uppercase
    font-size: 18px
    font-weight: bold
    text-shadow: 0 2px 0 black
    color: white
    padding: 15px 30px 18px

    $color = #84ff00
    &.abundant
      background: darken($color, 20%)
      border: 3px solid rgba(lighten($color, 50%), 0.8)
      box-shadow: 0 0 25px $color

    $color = #1789fb
    &.common
      background: $color
      border: 3px solid rgba(lighten($color, 50%), 0.8)
      box-shadow: 0 0 25px $color

    $color = #ffba00
    &.rare
      background: $color
      border: 3px solid rgba(lighten($color, 50%), 0.8)
      box-shadow: 0 0 25px $color

    .element, .avatar, .text
      float: left
      display: inline-block

    strong
      color: yellow

  .red
    .notification
      top: 40px
      left: 80px

  .blue
    .notification
      top: 40px
      right: 80px

  .green
    .notification
      bottom: 40px
      left: 80px

  .yellow
    .notification
      bottom: 40px
      right: 80px


////////////////////////////////////////////////////////
// GUI
////////////////////////////////////////////////////////

.gui, .notifications
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0

  .player
    position: absolute
    display: block
    width: 50%
    height: 50%

  .red
    top: 0
    left: 0

    .bars
      top: 10px
      left: 60px

    .bar .score
      top: 0
      left: 0

    .avatar
      top: 30px
      left: 0

  .blue
    top: 0
    right: 0

    .bars
      top: 10px
      right: 60px
      text-align: right

    .bar .score
      top: 0
      right: 0

    .avatar
      top: 30px
      right: 0

  .green
    bottom: 0
    left: 0

    .bars
      bottom: 10px
      left: 60px

    .bar .score
      bottom: 0
      left: 0

    .avatar
      bottom: 40px
      left: 0

  .yellow
    bottom: 0
    right: 0

    .bars
      bottom: 10px
      right: 60px
      text-align: right

    .bar .score
      bottom: 0
      right: 0

    .avatar
      bottom: 40px
      right: 0

  .avatar
    position: absolute
    width: 80px

    img
      max-width: 100%

    .number
      color: white
      font-size: 30px
      font-weight: bold
      width: 100%
      text-align: center

  .bars
    position: absolute
    width: 40%
    margin: 0 auto
    padding: 1px

  .bar
    font-size: 11px
    letter-spacing: 2px
    text-transform: uppercase
    color: white
    font-weight: bold
    text-shadow: 0 1px 0 black
    padding: 10px 20px
    width: 100%
    background: rgba(gray, 0.35)
    display: block
    margin: 0 auto 1px

    .score
      position: absolute
      display: block
      top: 0
      width: 0%
      height: 100%

    &.overall .score
      background-color: rgba(white, 0.5)

    &.abundant .score
      background-color: rgba(#84ff00, 0.5)

    &.common .score
      background-color: rgba(#1789fb, 0.5)

    &.scarce .score
      background-color: rgba(#ffba00, 0.5)

////////////////////////////////////////////////////////
// General Screens
////////////////////////////////////////////////////////

.wrapper, .screen
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  transition: all 0.25s

  &.wrapper
    overflow: hidden

  &.screen
    opacity: 0
    color: white

  &.header
    h1
      margin: 20% auto
      font-size: 175px
      text-align: center

  &.screen:before, &.wrapper:before
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: url(../images/stars.png)
    opacity: 0.4
    animation: star_pulse 4s infinite

  &.wrapper:before
    background: url(../images/stars.png)
    background-position: -50px -50px
    animation: start_pulse_two 4s infinite

////////////////////////////////////////////////////////
// Home Screen
////////////////////////////////////////////////////////

.home
  .title
    text-align: center
    margin: 22% 0 60px
    font-size: 100px
    letter-spacing: 5px
    color: white
    line-height: 100%
    text-transform: uppercase
    -webkit-text-stroke: 1px rgba(#0086ff, 0.2)
    text-shadow: 0 0 50px #49e4ff
    font-weight: bold
    animation: logo 1s 1
    position: relative

    span
      display: none
      position: absolute
      top: -36px
      text-transform: normal
      font-size: 42px
      text-align: center
      transform: rotate(30deg) translate3d(-60px, 0, 0)

  .creators
    opacity: 1
    margin: 0 auto
    text-align: center
    font-size: 20px
    animation: creators 2s 1

    .logos
      font-size: 40px
      display: inline-block

      span
        margin: 40px 0 0 0
        float: left
        display: block

        &.plus
          margin: 40px 15px 0 30px

        &.twg
          width: 150px
          height: 60px
          box-shadow: 0 0 25px #99b63c
          background-image: url(../images/logo-white.png)
          background-color: #99b63c
          background-size: 60% auto
          background-repeat: no-repeat
          background-position: center center

        &.darcy
          font-size: 26px
          text-shadow: 0 0 25px gold
          padding: 10px 0 0 0
          color: gold

////////////////////////////////////////////////////////
// Skyline
////////////////////////////////////////////////////////

.skyline

  .text
    h1
      margin-bottom: 10px
      font-size: 60px
      text-shadow: 0 0 50px #dd6516

    h2
      font-size: 40px
      margin: 0 auto
      text-align: center
      color: lighten(#dd6516, 20%)
      text-shadow: 0 0 25px darken(#dd6516, 50%)

  .shootingstar
    position: absolute
    top: 200px
    left: 0
    width: 100px
    height: 100px
    opacity: 1
    z-index: 999
    background: url(../images/shootingstar.png)
    background-repeat: no-repeat
    background-size: contain
    animation: shootingstar 5s 1

  .city
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0

    &:before, &:after
      content: ''
      background-image: url(../images/skyline.png)
      background-repeat: repeat-x
      background-position: left bottom
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0

    &:before
      background-image: linear-gradient(bottom, orange, rgba(darken(orange, 90%), 0.25))


////////////////////////////////////////////////////////
// Alert Screen
////////////////////////////////////////////////////////

.alert

  .text
    margin: 20% 0 0 0

    .title
      text-transform: uppercase
      color: red
      width: 100%
      text-align: center
      font-size: 80px
      margin: 0 auto
      text-shadow: 0 0 20px red
      animation: alert 1s infinite

////////////////////////////////////////////////////////
// LowDown Screens
////////////////////////////////////////////////////////

.thelowdown
  padding-top: 10%

  .scientist
    position: absolute
    bottom: -330px
    right: 0
    width: 60%
    height: 350px
    display: block


    .bubble
      width: 450px
      font-size: 16px
      z-index: 999
      bottom: 30px
      right: 300px
      position: absolute

    img
      height: 100%
      width: auto
      position: absolute
      bottom: 0
      right: 0

  &.two
    .asteroid
      float: right
      margin: 30px
      width: 150px

      img
        max-width: 100%

  &.three
    .scientist
      bottom: -260px

    .ship
      float: right
      position: relative
      margin: 60px 0 80px 30px
      top: auto
      left: auto
      right: auto
      width: 150px

      &:before
        z-index: 999
        left: 55px
        top: -28px
        animation: none

      span
        left: -20px
        top: 60px

  &.six
    .bubble
      font-size: 60px
      text-align: center

////////////////////////////////////////////////////////
// Starting in... Screen
////////////////////////////////////////////////////////

.screen.starting.header

  h1
    font-size: 60px

////////////////////////////////////////////////////////
// End Game Screen
////////////////////////////////////////////////////////

.header.end

  h1
    font-size: 80px
    margin: 100px 0 50px

  .bubble
    max-width: 800px
    font-size: 40px


////////////////////////////////////////////////////////
// Game Screen
////////////////////////////////////////////////////////

.game

  .timer
    padding-top: 20px
    font-size: 50px
    font-weight: bold
    color: white
    position: absolute
    width: 100%
    text-align: center

    strong
      color: red

  .asteroids
    position: absolute
    width: $asteroidSize
    height: $asteroidSize
    margin: -($asteroidSize / 2) 0 0 (-1 * ($asteroidSize / 2))
    top: 50%
    left: 50%
    transition: all 4s

    .asteroid
      width: 100%
      position: absolute
      transition: all 5s

  .earth
    position: absolute
    width: ($asteroidSize / 2)
    height: ($asteroidSize / 2)
    margin: 0 0 0 (-1 * ($asteroidSize / 4))
    bottom: -($asteroidSize / 4)
    left: 50%

    img
      transition: all 0.5s
      max-width: 100%

  .asteroids
    .player
      display: inline-block
      position: relative
      width: 25%
      height: 100%
      transform: translate3d(0,0,0)

